MONGODB_URI=mongodb+srv://urlshortner:urlshortner25@cluster0.yx4jmgx.mongodb.net/urlshortener?appName=Cluster0
JWT_SECRET=0026df7b57e0464563f8f0a34ac71885
BASE_URL=https://url-shortener-backend-r3zu.onrender.com
CORS_ALLOWED_ORIGINS=https://your-vercel-project.vercel.app,https://your-custom-domain.com
ADMIN_USERNAME=OmPrajapati
ADMIN_PASSWORD=OmPrajapati@25
