html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: #080816;
}

code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
}

* {
  box-sizing: border-box;
}
